<!DOCTYPE html>
{% load static %} {% load django_bootstrap5 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login Sugar Check</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
</head>
<body>
<div class="container-fluid">
    <form method="post" class="form">
        <div class="row justify-content-center ">
            <div class="col-sm-12 col-lg-5 text-center">
                <img src="{% static '/images/logo.png' %}" class="img-fluid"
                     width="300px" alt="Logo sugar check" srcset=""/>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col-sm-12 col-lg-5 p-3 bg">
                {% csrf_token %} {% bootstrap_form form alert_error_type='all' %}

                <div class="col-sm-12 col-md-12 col-lg-5 mt-3">
                    <button type="submit" class="btn btn-primary btn-sm">
                        Acessar
                    </button>
                    <a href="/perfis/registra" class="btn btn-warning btn-sm float-end">
                        Criar Usuário
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
