services:
  bancodados:
    image: postgres:17.7
    restart: always
    entrypoint: ["/entrypoint-postgres.sh"]  # Entry point customizado para ler secrets
    environment:
      # Agora, vars reais serão setadas no entrypoint-postgres.sh
      POSTGRES_DB: ${DB_NAME:-default}  # Fallback se não setado
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
    secrets:
      - db_user
      - db_name
      - db_password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-postgres} -d ${DB_NAME:-default}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s  # Tempo para init com secrets
    networks:
      - alvesdevpynet
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./entrypoint-postgres.sh:/entrypoint-postgres.sh:ro  # Monte o script (crie localmente)
    ports:
      - "5434:5432"

  web:
    image: glicotracking:v1
    entrypoint: ["/app/entrypoint.sh"]
    command: ["gunicorn", "app.wsgi:application", "--bind", "0.0.0.0:8000", "--workers", "4"]
    environment:
      - secret_key=/run/secrets/secret_key  # Path para o entrypoint ler
      - database_url=/run/secrets/database_url
      - db_name=/run/secrets/db_name
      - db_password=/run/secrets/db_password
      - db_user=/run/secrets/db_user
      # Vars extras para Django (setadas no entrypoint se precisar)
      - DEBUG=False
      - ALLOWED_HOSTS=glicotracking.alvesdevpy.com.br
    volumes:
      - glico_data:/glicotracking
      - static_volume:/glicotracking/static
      - media_volume:/glicotracking/media
    networks:
      - alvesdevpynet
    depends_on:
      - bancodados
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 1024M
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.web.rule=Host(`glicotracking.alvesdevpy.com.br`)"
        - "traefik.http.routers.web.entrypoints=websecure"
        - "traefik.http.routers.web.priority=1"
        - "traefik.http.routers.web.tls.certresolver=letsencryptresolver"
        - "traefik.http.routers.web.service=web"
        - "traefik.http.services.web.loadbalancer.server.port=8000"
        - "traefik.http.services.web.loadbalancer.passHostHeader=true"
    secrets:
      - secret_key
      - database_url
      - db_name
      - db_password
      - db_user

volumes:
  pgdata:
  glico_data:
  static_volume:
  media_volume:

networks:
  alvesdevpynet:
    external: true
    driver: overlay

secrets:
  secret_key:
    file: ./secret_key.txt
  database_url:
    file: ./database_url.txt
  db_name:
    file: ./db_name.txt
  db_password:
    file: ./db_password.txt
  db_user:
    file: ./db_user.txt