services:
  bancodados:
    image: postgres:17.7-alpine
    restart: always
    environment:
      POSTGRES_DB_FILE: /run/secrets/db_name # Usa secret para nome do banco
      POSTGRES_USER_FILE: /run/secrets/db_user     # Usa secret para usuário
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password  # Usa secret para senha
    healthcheck:
      test: [ "CMD-SHELL", "sh -c 'pg_isready -U $$(cat /run/secrets/db_user) -d $$(cat /run/secrets/db_name)'" ]
      interval: 10s
      timeout: 5s
      retries: 5
    secrets:
      - db_user
      - db_name
      - db_password
    networks:
      - alvesdevpynet
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  web:
    image: glicotracking:v1
    entrypoint: ["/app/entrypoint.sh"]
    command: ["gunicorn", "app.wsgi:application", "--bind", "0.0.0.0:8000", "--workers", "4"]
    environment:
      - secret_key=/run/secrets/secret_key  # Path para entrypoint ler
      - database_url=/run/secrets/database_url
      - db_name=/run/secrets/db_name
      - db_password=/run/secrets/db_password
      - db_user=/run/secrets/db_user
      - DEBUG=False
      - ALLOWED_HOSTS=glicotracking.alvesdevpy.com.br
    volumes:
      - glico_data:/glicotracking
      - static_volume:/glicotracking/static
      - media_volume:/glicotracking/media
    networks:
      - alvesdevpynet
    depends_on:
     - bancodados
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 1024M
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.web.rule=Host(`glicotracking.alvesdevpy.com.br`)"
        - "traefik.http.routers.web.entrypoints=websecure"
        - "traefik.http.routers.web.priority=1"
        - "traefik.http.routers.web.tls.certresolver=letsencryptresolver"
        - "traefik.http.routers.web.service=web"
        - "traefik.http.services.web.loadbalancer.server.port=8000"
        - "traefik.http.services.web.loadbalancer.passHostHeader=true"
    secrets:
      - secret_key
      - database_url
      - db_name
      - db_password
      - db_user

volumes:
  pgdata:
  glico_data:
  static_volume:
  media_volume:

networks:
  alvesdevpynet:
    external: true
    driver: overlay

secrets:  # <- APENAS NOMES, SEM file: – Portainer gerencia
  secret_key:
    external: true
  database_url:
    external: true
  db_name:
    external: true
  db_password:
    external: true
  db_user:
    external: true