version: '3.9'

services:
  django:
      container_name: glico_django
      build:
        context: .
        dockerfile: Dockerfile
      restart: unless-stopped
      env_file:
        - .env
      command: "gunicorn app.wsgi:application --bind 0.0.0.0:8000"
      volumes:
        - ./glicotracking:/app # Assumindo que sua aplicação Django está na pasta 'app'
        - static_volume:/glicotracking/static
        - media_volume:/glicotracking/media
      networks:
        - gliconet
      labels: # Habilita o Traefik para este serviço
        - "traefik.enable=true"        # Roteador HTTP para redirecionar para HTTPS
        - "traefik.http.routers.glicotracking.rule=Host(`glicotracking.alvesdevpy.com.br`)"
        - "traefik.http.routers.glicotracking.entrypoints=websecure"
        - "traefik.http.routers.glicotracking.tls.certresolver=letsencrypt"
        - "traefik.http.services.glicotracking.loadbalancer.server.port=8000"
        - "traefik.http.routers.glicotracking.rule=Host(`${DOMAIN_NAME}`) || Host(`www.${DOMAIN_NAME}`)"
        - "traefik.http.routers.glicotracking.tls=true"
        - "traefik.http.routers.glicotracking.tls.certresolver=le" # Certresolver 'le' para Let's Encrypt
        # Middleware para redirecionamento HTTP para HTTPS
        - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
        - "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true"        # Configuração do serviço de backend do Traefik
        - "traefik.http.services.django.loadbalancer.server.port=8000"
        - "traefik.docker.network=alvesdevpynet" # Especifica a rede para o Traefik
volumes:
  db_data:
  static_volume:
  media_volume:

networks:
  gliconet: