version: '3.8'

services:
  db:
    container_name: alvesdevpy_db
    image: postgres:latest
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - alvesdevpynet

  django:
      container_name: alvesdevpy_django
      build:
        context: .
        dockerfile: Dockerfile
      restart: unless-stopped
      env_file:
        - .env
      environment:       # Variáveis de ambiente que podem ser sobrescritas pelo .env ou definidas aqui
        DB_HOST: db
        DB_PORT: 5432       # Certifique-se de que DOMAIN_NAME esteja no seu .env
        ALLOWED_HOSTS: ${DOMAIN_NAME},www.${DOMAIN_NAME}       # Altere 'myproject' para o nome do seu projeto Django
        DJANGO_SETTINGS_MODULE: app.settings
        DEBUG: "False" # Sempre False em produção
        command: gunicorn app.wsgi:application --bind 0.0.0.0:8000 # Altere 'myproject'
      volumes:
        - ./app:/app # Assumindo que sua aplicação Django está na pasta 'app'
        - static_volume:/app/static
        - media_volume:/app/media
      depends_on:
        db:
          condition: service_healthy
      networks:
        - alvesdevpynet
      labels:       # Habilita o Traefik para este serviço
        - "traefik.enable=true"        # Roteador HTTP para redirecionar para HTTPS
        - "traefik.http.routers.django-http.entrypoints=http"
        - "traefik.http.routers.django-http.rule=Host(`${DOMAIN_NAME}`) || Host(`www.${DOMAIN_NAME}`)"
        - "traefik.http.routers.django-http.middlewares=https-redirect@docker"        # Roteador HTTPS principal
        - "traefik.http.routers.django-https.entrypoints=https"
        - "traefik.http.routers.django-https.rule=Host(`${DOMAIN_NAME}`) || Host(`www.${DOMAIN_NAME}`)"
        - "traefik.http.routers.django-https.tls=true"
        - "traefik.http.routers.django-https.tls.certresolver=le" # Certresolver 'le' para Let's Encrypt
        # Middleware para redirecionamento HTTP para HTTPS
        - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
        - "traefik.http.middlewares.https-redirect.redirectscheme.permanent=true"        # Configuração do serviço de backend do Traefik
        - "traefik.http.services.django.loadbalancer.server.port=8000"
        - "traefik.docker.network=alvesdevpynet" # Especifica a rede para o Traefik
volumes:
  db_data:
  static_volume:
  media_volume:

networks:
  alvesdevpynet:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1450