services:
  bancodados:
    image: postgres:17.7
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - alvesdevpynet
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  web:
    image: glicotracking:v1
    entrypoint: ["/app/entrypoint.sh"]
    command: ["gunicorn", "app.wsgi:application", "--bind", "0.0.0.0:8000", "--workers", "4"]
    environment:
      - DJANGO_SETTINGS_MODULE=app.settings
      - SECRET_KEY_FILE=/run/secrets/GTK_SECRET_KEY  # Path case sensitive
      - DATABASE_URL_FILE=/run/secrets/DATABASE_URL_GTK
      - DB_NAME_FILE=/run/secrets/DB_NAME_GTK
      - DB_PASSWORD_FILE=/run/secrets/DB_PASSWORD_GTK
      - ALLOWED_HOSTS=glicotracking.alvesdevpy.com.br
      - DEBUG=${DEBUG}
    volumes:
      - glico_data:/glicotracking
      - static_volume:/glicotracking/static
      - media_volume:/glicotracking/media
    networks:
      - alvesdevpynet
    depends_on:
      - bancodados
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: "1"
          memory: 1024M
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.glicotck.rule=Host(`glicotracking.alvesdevpy.com.br`)"
        - "traefik.http.routers.glicotck.entrypoints=websecure"
        - "traefik.http.routers.glicotck.priority=1"
        - "traefik.http.routers.glicotck.tls.certresolver=letsencryptresolver"
        - "traefik.http.routers.glicotck.service=glicotck"
        - "traefik.http.services.glicotck.loadbalancer.server.port=8000"
        - "traefik.http.services.glicotck.loadbalancer.passHostHeader=1"
    secrets:
      - GTK_SECRET_KEY
      - DATABASE_URL_GTK
      - DB_NAME_GTK
      - DB_PASSWORD_GTK

volumes:
  pgdata:
  glico_data:
  static_volume:
  media_volume:

networks:
  alvesdevpynet:
    external: true
    driver: overlay

secrets:
  GTK_SECRET_KEY:
    external: true
  DATABASE_URL_GTK:
    external: true
  DB_NAME_GTK:
    external: true
  DB_PASSWORD_GTK:
    external: true