version: "3.9"

services:
  glicotck:
    image: glicotracking-django:latest
    command: gunicorn app.wsgi:application --bind 0.0.0.0:8000
    environment:
      - DJANGO_SETTINGS_MODULE=app.settings
      - SECRET_KEY=${SECRET_KEY}
      # - DATABASE_URL=${DATABASE_URL}
      # - ALLOWED_HOSTS=glicotracking.alvesdevpy.com.br
    volumes:
      - glico_data:/glicotracking
      - static_volume:/glicotracking/static
      - media_volume:/glicotracking/media
    networks:
      - gliconet

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "1"
          memory: 1024M
      labels:
        - traefik.enable=true
        - traefik.http.routers.glicotck.rule=Host(`glicotracking.alvesdevpy.com.br`)
        - traefik.http.routers.glicotck.entrypoints=websecure
        - traefik.http.routers.glicotck.priority=1
        - traefik.http.routers.glicotck.tls.certresolver=letsencryptresolver
        - traefik.http.routers.glicotck.service=glicotck
        - traefik.http.services.glicotck.loadbalancer.server.port=8000
        - traefik.http.services.glicotck.loadbalancer.passHostHeader=1

volumes:
  glico_data:
  static_volume:
  media_volume:

networks:
  gliconet:
    driver: bridge