{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <h1>Plano Alimentar</h1>
    <div class="container-fluid mt-3">
        <div class="row my-3">
            <div class="col">
               <a class="btn btn-sm btn-warning" href="{% url 'planos:lista' %}" type="button"><i class="bi bi-arrow-left-circle"></i> Retornar</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>{{ object.titulo }}</h3>
            </div>
            <hr>
        </div>
    <div class="row">
        <div class="col">
            {{ object.cardapio | safe }}
        </div>
    </div>
    </div>
{% endblock %}