{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block dashboard %}
<!-- Carregue Chart.js PRIMEIRO -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Depois o ChartDataLabels -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% endblock %}

{% block content %}

<!--Gráfico com as medidas de glicose-->
<div class="row p-3 bg m-3">
    <div class="col-12">
        <div class="btn-group" role="group" aria-label="BAR">
            <a class="btn btn-sm btn-warning" href="{% url 'core:dashboard' %}" type="button"><i
                    class="bi bi-arrow-left-circle"></i> Retornar</a>
        </div>
    </div>
</div>

<div class="row p-3 bg m-3">
    <div class="col-12">
        <div class="card">
            <div class="card-body chart-wrapper">
                <div id="areadografico">
                    <canvas id="glicoseChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-3 bg m-3 overflow-auto">
    <div class="col">
        <table class="table table-sm table-bordered">
            <thead>
            <tr>
                <th>Valor Da Medição</th>
                <th>Tipo de Medição</th>
                <th>Data da Medição</th>
                <th>Observações</th>
            </tr>
            </thead>
            <tbody>
            {% for o in object_list %}
            <tr>
                <td>{{ o.valor_glicose }}</td>
                <td>{{ o.get_tipo_medicao_display }}</td>
                <td>{{ o.data_medicao|date:"SHORT_DATETIME_FORMAT" }}</td>
                <td>{{o.observacoes}}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>


<script>
    Chart.register(ChartDataLabels);
    const glicoseData = JSON.parse('{{ dados_json|escapejs }}');


    if (glicoseData.length > 30) {
    grafico = document.getElementById("areadografico");
     grafico.style.width = "150vw";
     grafico.style.height = "100vh";
    }
    else{
    grafico = document.getElementById("glicoseChart");
     grafico.style.width = "100vw";
     grafico.style.height = "70vh";
    }

    const ctxGlicose = document.getElementById('glicoseChart').getContext('2d');
    const labels = glicoseData.map(item => new Date(item.data).toLocaleDateString());
    const glicoseChart = new Chart(ctxGlicose, {
        type: 'line',
        data: {
            labels: labels.reverse(),
            datasets: [{
                label: 'Glicose (mg/dL)',
                data: glicoseData.map(item => item.valor).reverse(),
                borderColor: 'rgb(127, 255, 0)',
                backgroundColor: 'rgb(127, 255, 0)', // Necessário para o datalabels usar a cor
                tension: 0.3,
                pointRadius: 4, // Tamanho da bolinha
            }]
        },
        options: {
            //indexAxis: 'y',
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                    grace: 10,
                    title: {
                        display: true,
                        text: 'Glicose (mg/dL)'
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Data'
                    }
                }
            },
            plugins: {
                datalabels: {
                align: 'end',
                anchor: 'end',
                backgroundColor: function(context) {
                    return context.dataset.borderColor;
                },
                borderRadius: 4,
                color: 'black',
                font: {
                    weight: 'bold',
                    size: 11
                },
                padding: 4,
                offset: 4,
                formatter: function(value) {
                    return Math.round(value); // Arredonda o valor
                },
                },
                title: {
                    display: true,
                    text: 'Histórico de Medições'
                }
            }
        },
        plugins: [{
            afterDatasetsDraw(chart) {
                const ctx = chart.ctx;
                const yScale = chart.scales.y;
                const xScale = chart.scales.x;

                function drawHorizontalLine(value, color, label) {
                    const y = yScale.getPixelForValue(value);

                    ctx.save();
                    ctx.strokeStyle = color;
                    ctx.lineWidth = 2;
                    ctx.beginPath();
                    ctx.moveTo(xScale.left, y);
                    ctx.lineTo(xScale.right, y);
                    ctx.stroke();

                    if (label) {
                        ctx.fillStyle = color;
                        ctx.font = 'bold 12px Arial';
                        ctx.textAlign = 'right';
                        ctx.fillText(label, xScale.right - 10, y - 10);
                    }
                    ctx.restore();
                }

                drawHorizontalLine(180, '#dc354555', 'Muito Alta');
                drawHorizontalLine(160, '#fd7e1455', 'Alta');
                drawHorizontalLine(100, '#20c99755', 'Normal em Jejum');
                drawHorizontalLine(70, '#007bff55', 'Hipoglicemia');
            }
        }]
    });
</script>

{% endblock %}