{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid">
    <div class="row p-3 bg m-3">
        <div class="col-12 ">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-sm btn-warning" href="{% url  'medicoes:lista' %}" type="button"><i
                    class="bi bi-arrow-left-circle"></i> Retornar</a>
            </div>
        </div>
    </div>
    <div class="row p-3 bg m-3">
        <div class="col-12">
            <form method="post" class="form mt-3">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 col-lg-3 col-md-3">
                        {% bootstrap_field form.valor_glicose %}
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-3">
                        {% bootstrap_field form.tipo_medicao %}
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-3">
                        {% bootstrap_field form.data_medicao %}
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-3">
                        {% bootstrap_field form.exame %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        {% bootstrap_field form.observacoes %}
                    </div>
                </div>
                {% bootstrap_button button_type="submit" content="OK" %}
            </form>
        </div>
    </div>
</div>

{% endblock %}