{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container-fluid">
    <h1 class="m-4 text-center">Registrar Peso</h1>
    <div class="row p-3 bg m-3">
        <div class="col-12 ">
            <a class="btn btn-sm btn-warning" href="{% url 'perfis:peso_lista' %}" type="button"><i
                class="bi bi-arrow-left-circle"></i> Retornar</a>
        </div>
    </div>
    <div class="row p-3 bg m-3">
        <div class="col-12">
            <form method="post" class="form mt-3">
                {% csrf_token %}

                {% bootstrap_form form %}

                {% bootstrap_button button_type="submit" content="OK" %}
                {% bootstrap_button button_type="reset" content="Cancel" %}
            </form>
        </div>
    </div>
</div>
{% endblock %}