{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block datatable %}
<!-- CSS do DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
    <div class="container-fluid mt-3">
        <div class="row p-3 bg m-3">
            <div class="col">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-sm btn-warning" href="{% url 'core:dashboard' %}" type="button"><i class="bi bi-arrow-left-circle"></i> Retornar</a>
                    <a href="{% url 'perfis:peso_registro' %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Registrar Peso</a>
                </div>
            </div>
        </div>
        <div class="row bg m-3 p-3">
            <div class="col">
                <table class="table table-sm table-striped" id="tblpeso">
                    <thead>
                    <tr>
                        <th>Peso</th>
                        <th>IMC</th>
                        <th>Data da Medição</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for o in object_list %}
                        <tr>
                            <td>{{ o.peso_kg }}</td>
                            <td>{{ o.imc }}</td>
                            <td>{{ o.data_registro }}</td>
                            <td><a href="{% url "perfis:peso_atualiza" pk=o.id %}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i></a> |
                                <a href="{% url "perfis:peso_delete" pk=o.id %}" class="btn btn-sm btn-danger "><i class="bi bi-trash3"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
                <!-- jQuery (dependência do DataTables) -->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function() {
              $('#tblpeso').DataTable({
                  language: {
                      url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json'
                  },
                  pageLength: 10,
                  searching: true,
                  ordering: true,
                  paging: true
              });
          });
        </script>
    </div>
{% endblock %}