{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block datatable %}
<!-- CSS do DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
    <h1>Histórico do Biotipo do Paciente</h1>
    <div class="container-fluid mt-3">
        <div class="row my-3">
            <div class="col">
               <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-sm btn-warning" href="{% url "core:dashboard" %}" type="button"><i class="bi bi-arrow-left-circle"></i> Retornar</a>
                    <a href="{% url "perfis:biotipo_registro" %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Registra Biotipo</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <table class="table" id="tblbiotipo">
                <thead>
                <tr>
                    <th>Abdomen</th>
                    <th>Cintura</th>
                    <th>Quadril</th>
                    <th>Braço</th>
                    <th>Perna</th>
                    <th>Data da Medição</th>
                    <th>Próxima Medição</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for o in biotipo %}
                    <tr>
                        <td>{{ o.abdomen}} cm</td>
                        <td>{{ o.cintura }} cm</td>
                        <td>{{ o.quadril }} cm</td>
                        <td>{{ o.braco }} cm</td>
                        <td>{{ o.perna }} cm</td>
                        <td>{{ o.data_registro }}</td>
                        <td>{{ o.proximo_registro }}</td>
                        <td><a href="{% url "perfis:biotipo_atualiza" pk=o.id %}" class="btn btn-sm btn-primary "><i
                                    class="bi bi-pencil-fill"></i></a> |
                                <a href="{% url "perfis:biotipo_delete" pk=o.id %}" class="btn btn-sm btn-danger "><i
                                        class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        </div>
                <!-- jQuery (dependência do DataTables) -->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function() {
              $('#tblbiotipo').DataTable({
                  language: {
                      url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json'
                  },
                  pageLength: 10,
                  searching: true,
                  ordering: true,
                  paging: true
              });
          });
        </script>
    </div>
{% endblock %}