{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="container-fluid mt-3">
        <div class="row my-3">
            <div class="col">
                {% bootstrap_button "Registrar" button_type="link" href="/exames/cadastra" size='sm' value='Registrar' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Médico </th>
                    <th>Especialidade</th>
                    <th>Data do Exame</th>
                    <th>Arquivo</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for o in object_list %}
                    <tr>
                        <td>{{ o.medico }}</td>
                        <td>{{ o.especialidade }}</td>
                        <td>{{ o.data_exame }}</td>
                        <td><a href="{{ o.exame_arquivo.url}}">Ver exame</a></td>
                        <td><a href="{% url "exames:atualiza" pk=o.id %}" class="btn btn-sm btn-primary "><i
                                    class="bi bi-pencil-fill"></i></a> |
                                <a href="{% url "exames:deleta" pk=o.id %}" class="btn btn-sm btn-danger "><i
                                        class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        </div>
    </div>
{% endblock %}