<!DOCTYPE html>
{% load static %} {% load django_bootstrap5 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Troca de senha</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
</head>
<body>
<div class="container-fluid">
    <form method="post" class="form">
        <div class="row justify-content-center ">
            <div class="col-sm-12 col-lg-5 text-center">
                <img src="{% static '/images/logo.png' %}" class="img-fluid"
                     width="300px" alt="Logo sugar check" srcset=""/>
            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col-sm-12 col-lg-5 p-3 bg">
                <h1>Senha Atualizada com sucesso!</h1>

                <p>
                    <a href="/contas/login" class="btn btn-sucess btn-sm">
                        Fazer Login Novamente
                    </a>
                </p>

            </div>
        </div>
    </form>
</div>
</body>
</html>
