<!DOCTYPE html>
{% load static %} {% load django_bootstrap5 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Troca de senha</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
</head>
<body>
<div class="container-fluid">
    <form method="post" class="form">
        <div class="row justify-content-center m-3 ">
            <div class="col-sm-12 col-lg-5  text-center">
                <img src="{% static '/images/logo.png' %}" class="img-fluid"
                     width="300px" alt="Logo sugar check" srcset=""/>
            </div>
        </div>

        <div class="row justify-content-center m-3">
            <div class="col-sm-12 col-lg-5 p-3 bg">
                <h1>Digite a sua nova senha!</h1>

                <p>Por favor, informe a sua nova senha duas vezes para podermos verificar se você a digitou corretamente.</p>

                <div class="col-sm-12 col-lg-5">
                    {% csrf_token %} {% bootstrap_form form alert_error_type='all' %}
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn-primary btn-sm">
                        Informar e-mail
                    </button>
                    <a href="/contas/login" class="btn btn-primary btn-sm">
                        Login
                    </a>
                </div>

            </div>
        </div>
    </form>
</div>
</body>
</html>
